extends layout

block content
    p If you are reading this, it means you're either reading the source code of the page, or Jade screwed something up....this should be dynamically replaced by Backbone
