!!! 5
html
    head
        title PrashFour
        != css('bootstrap.min')
        link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        != css('style')
        script
            var PORT = "#{port}";
        != js('client')
        include templates
    body
        block content
