//- http://stackoverflow.com/questions/8540720/comments-in-jade
//- Invisible comments

script(id="main", type="text/x-underscore-template")
    // PrashFour by Christopher Dufour and Samuel Prashker
    .navbar
        .navbar-inner
            a.brand(href="#") PrashFour
            ul.nav#user-box
            ul.nav#channels
            span#nav-quick-buttons
                button.btn.btn-success /join
                button.btn.btn-success /part
                button.btn.btn-success /nick
                button.btn.btn-success /topic
                button.btn.btn-success /me        
                button.btn.btn-success /whois
                button.btn.btn-info /ping
                button.btn.btn-info /backlog
                button.btn.btn-info /clear
    .wrapper
        .content
    
script(id="load_image", type="text/x-underscore-template")
    i.icon-spinner.icon-spin.icon-3x

script(id="mainview_home", type="text/x-underscore-template")
    ul
        li.mainview-button#connection
            i.icon-off
            span New Connection
        li.mainview-button#login
            i.icon-lock
            span Login
        li.mainview-button#register
            i.icon-group
            span Register

script(id="mainview_main", type="text/x-underscore-template")
    #mainview.text-center

script(id="mainview_connection", type="text/x-underscore-template")
    button.btn.btn-info.push-right.mainview-button#home Home
    form.form-horizontal
        .control-group
            .input-prepend
                span.add-on
                    i.icon-user
                input#connect-nick(type="text", placeholder="Nick")
        .control-group
            .input-prepend
                span.add-on
                    i.icon-sitemap
                input#connect-server(type="text", placeholder="Server")
        .control-group
            .input-prepend
                span.add-on
                    i.icon-key
                input#connect-password(type="password", placeholder="Password (optional)")
        .control-group
            .input-prepend
                span.add-on
                    i.icon-barcode
                input#connect-realName(type="text", placeholder="Real Name")
        .connect-more-options.hide
            .control-group
                .input-prepend
                    span.add-on
                        i.icon-rss Port
                    input#connect-port.small(type="text", placeholder="6667")
            .control-group
                .input-prepend
                    span.add-on
                        i.icon-lock SSL
                    input#connect-secure(type="checkbox")
            .control-group
                .input-prepend
                    span.add-on
                        i.icon-lock Self-signed SSL Cert
                    input#connect-self(type="checkbox")
            .control-group
                .input-prepend
                    span.add-on
                        i.icon-reply Rejoin on Kick
                    input#connect-rejoin(type="checkbox")
            .control-group
                .input-prepend
                    span.add-on
                        i.icon-book
                    select#connect-encoding Encoding
                        option(value="", selected="selected") UTF-8
        .control-group
            .input-prepend
                <% if (loggedIn) { %>
                span.add-on
                    i.icon-heart Enable logging back into active connection
                input#connect-keep-alive(type="checkbox")
                <% } %>
        .control-group
            button#connect-button.btn.btn-primary Connect
            button#connect-more-options-button.btn More Options

script(id="mainview_settings", type="text/x-underscore-template")
    button.btn.btn-info.mainview-button#home Home
    p#settings-soon If there is no ideas here, it will be removed, Chris?

script(id="mainview_login", type="text/x-underscore-template")
    button.btn.btn-info.mainview-button#home Home
    form.form-inline
        .control-group
            .input-prepend
                span.add-on
                    i.icon-user
                input#login-username(type="text", placeholder="Username")
        .control-group
            .input-prepend
                span.add-on
                    i.icon-key
                input#login-password(type="password", placeholder="Password")
    button#login-button.btn.btn-primary Login

script(id="mainview_register", type="text/x-underscore-template")
    button.btn.btn-info.mainview-button#home Home
    form.form-inline
        .control-group
            label(for="register-username") Username
            input#register-username(type="text")
        .control-group
            label(for="register-password") Password
            input#register-password(type="password")
        button#register-button.btn.btn-primary Register

script(id="titlebar", type="text/x-underscore-template")
    .titlebar
        span.window-title <%=title%>
        span#topic <%=topic%>

script(id="chat", type="x-underscore-template")
    #main-window
        #chat-window
            #chat-bar.absolute
            #chat-contents.absolute
            #input-container.absolute
                .input
                    input#chat-input(autocomplete="off")
                    a#chat-button.btn.btn-primary Send
        #user-window
            #user-bar.absolute
                .titlebar
                    span.window_title User List
            #user-list.absolute

script(id="channel", type="text/x-underscore-template")
    a(href="#") <%=name%>
        span.badge.badge-info.unread-highlights <%=unreadHighlights%>
        span.badge.badge-important.unread <%=unread%>
        <% if (name != "status") { %>
        i.icon-remove.close-button
        <% } %>

script(id="user_box", type="text/x-underscore-template")
    li
        i.icon-user
        <%=nick%> 
        i.icon-sitemap
        <%=server%>
        i.icon-remove.close-button

script(id="userlist_user", type="text/x-underscore-template")
    div.userlist-user-info
        div.userlist_user_name <%=prefix%><%=nick%>
            span.userlist-user-buttons
                button.btn.btn-info.pmbutton PM
                button.btn.btn-success.whoisbutton WHOIS
                button.btn.btn-danger.pingbutton PING

script(id="action-message", type="text/x-underscore-template")
    .chat-action
        b * <%=user%>&nbsp;
        span <%=content%>
    .chat-time
        span <%=timeStamp%>

script(id="topic-message", type="x-underscore-template")
    i.icon-exclamation-sign
    b
        <%=nick%> 
    | has changed the topic to 
    i
        <%=topic%>
    
script(id="message", type="text/x-underscore-template")
    .chat-name
        b <%=user%>
    div(class!="chat-message <%=type%>")
        span <%=content%>
    .chat-time
        span <%=timeStamp%>

script(id="joinpart-message", type="text/x-underscore-template")
    i.icon-exclamation-sign
    span <b><%=nick%></b> <%=action%> the channel <%=reason%>

script(id="nickchange-message", type="text/x-underscore-template")
    i.icon-wrench
    span <b><%=oldNick%></b> is now known as <%=newNick%>

script(id="alert", type="text/x-underscore-template")
    .alert(class="<%=type%>")
        a(class="close", data-dismiss="alert", href="#") &times;
        <%=content%>
