/*
    Nice scheme
    http://www.colorcombos.com/color-scheme-138.html
    PF
*/

html {
    overflow: hidden;
}

.typeahead {
    margin-top: -200px !important; /*BOOTSTRAP Override (To make typeahead dropdown ABOVE the input box*/
}

.wrapper {
    width: 100%;
    zoom: 1;
    padding: 0;
    font-size: 12px;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
}

.wrapper:before, .wrapper:after {
    display: table;
    content: "";
    zoom: 1;
}

.wrapper:after {
    clear: both;
}

.wrapper > .content {
    min-height: 100%;
    min-width: 100%;
    background-color: #DBE8F9;
    position: absolute;
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
}

/* MAINVIEW STUFF */

#mainview .mainview-button {
    margin-bottom: 15px;
}

#mainview {
    width: 600px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background: #E7E9ED;
    border: 2px solid #DDD;
}

#mainview ul li i {
        font-size: 75px;
}

#mainview ul li { 
    display: inline-block;
    padding: 10px;
    margin: 0px 10px;
    text-align: center;
    width: 130px;
}

#mainview ul li:hover {
    background: #FFB739;
    cursor: pointer;
    border-radius: 5px;
}

#mainview ul li img {
    height: 75px;
}

#mainview li span {
    display: block;
    font-weight: bold;
}

#user-box {
    padding-top: 10px;
}

#ssl-self-signed {
    display: none;
}

#user-box .close-button {
    opacity: 0.3;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
}

#user-box .close-button:hover {
    opacity: 1;
}

#channels > .channel .close-button {
    margin-left: 5px;
    opacity: 0.3;
    display: none;
}

#channels > .channel:hover .close-button {
    display: inline;
}

#channels > .channel .close-button:hover {
    opacity: 1;
}

#channels > .channel:not(.active):hover {
    background: #FFB739;
    color: #444444;
    cursor: pointer;
}

#hint-box {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#chat-window    {
    min-height: 100%;
    width: 80%;
    position: absolute;
}

#chat-bar {
    border-right: 1px solid #666666;
}

#chat-bar, #user-bar{
    top: 0;
    height: 34px;
    background: #434950;
    color: #eee;
    overflow: hidden;
}

.titlebar{
    padding-top: 0.5em;
    font-size: 1.2em;
    padding-left: 0.5em;
}

.window-title {
    font-weight:bold;
    margin-right: 2%;
    white-space:nowrap;
}

.titlebar #topic{
    color: #CCCCCC;
    white-space: nowrap;
}

#chat-contents {
    top: 34px;
    bottom: 57px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #DBE8F9;
    border-right: 1px solid #FA6121
}

#input-container {
    height: 55px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #DDD;
    background: whiteSmoke;
    border-right: 1px solid #DDDDDD;
}

#input-container .input {
    padding-top: 10px;
}

#input-container .input input {
    width: 80%;
    margin-right: 2%;
    float: left;
    margin-left: 2%;
}

#input-container .input a{
    font-size: 1.3em;
}

.message-box {
    border-bottom: 1px solid #DDDDDD;
    display: table;
    width: 100%;
}

.message-me {
    background: #EBF0FA;
}

.message-notification {
    padding: 1% 0% 1% 1%;
}

.chat-name {
    display: table-cell;
    width: 14%;
    vertical-align: top;
    padding: 1% 0% 1% 1%;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-message {
    display: table-cell;
    width: 66%;
    padding: 1%;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.chat-message span {
    word-wrap: break-word;
}

.chat-message.motd {
    white-space: pre;
    font-family: monospace;
}

.highlight {
    color: #0B2666;
    font-weight: bold;
}

.chat-action {
    display: table-cell;
    width: 80%;
    padding: 1% 0% 1% 2%;
    border-right: 1px solid #DDDDDD;
}

.chat-time {
    display: table-cell;
    vertical-align: top;
    color: #888888;
    text-align: center;
    padding: 1% 0% 1% 0%;
    width: 20%;
}

#user-window {
    height: 100%;
    width: 20%;
    position: absolute;
    margin-left: 80%;
    background: #E7E9ED;
}

#user-list {
    position: absolute;
    top: 34px;
    bottom: 0;
    overflow-y: auto;
}

.userlist-user {
    border-bottom: 1px solid #CCCCCC;
    display: table;
    height: 31px;
    width: 100%;
}

.userlist-user-info {
    display: table-cell;
    width: 87%;
    padding: 3% 0% 3% 5%;
}

.userlist-user-name {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userlist-user-buttons {
    /* TO FIX: float: right; */
}

.userlist-user-buttons > button {
    opacity: 0.8;
}

.userlist-user-buttons > button:hover {
    opacity: 1;
}
