/*
    Nice scheme
    http://www.colorcombos.com/color-scheme-138.html
    PF
*/

@font-face {
    font-family: 'GeometrySoftProBoldN';
    src: url('../font/Geometry_Soft_Pro-Bold_N-webfont.eot');
    src: url('../font/Geometry_Soft_Pro-Bold_N-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geometry_Soft_Pro-Bold_N-webfont.woff') format('woff'),
         url('../font/Geometry_Soft_Pro-Bold_N-webfont.ttf') format('truetype'),
         url('../font/Geometry_Soft_Pro-Bold_N-webfont.svg#GeometrySoftProBoldN') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* SCROLLBAR -- Webkit Only? 
http://stackoverflow.com/questions/7224634/webkit-css-scrollbar-styling
*/
::-webkit-scrollbar {  
    width:8px;
    height:8px;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color:transparent;
}

::-webkit-scrollbar-thumb {  
    background-color: rgba(053, 057, 071, 0.3);
    width: 6px;
    height: 6px;
    -webkit-border-radius:4px;
}
/* SCROLLBAR */

html {
    overflow: hidden;
}

.typeahead {
    margin-top: -200px !important; /*BOOTSTRAP Override (To make typeahead dropdown ABOVE the input box*/
}

.wrapper {
    width: 100%;
    zoom: 1;
    padding: 0;
    font-size: 12px;
    position: absolute;
    top: 40px; /* 40px from the top because of the navbar */
    left: 0;
    bottom: 0;
    right: 0;
}

.wrapper > .content {
    min-height: 100%; /* make sure the context expands the whole window */
    min-width: 100%;
    background-color: #DBE8F9;
    position: absolute;
}

.absolute {
    position: absolute;
    left: 0;
    right: 0;
}

/* MAINVIEW STUFF */

#mainview .mainview-button {
    margin-bottom: 15px;
}

#mainview {
    width: 600px; /* have a centered box with the displayed options */
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background: #E7E9ED;
    border: 2px solid #DDD;
}

#mainview ul li i {
    font-size: 75px; /* i is font-awesome styling, use 75px to make them big enough */
}

#mainview ul li { 
    display: inline-block; /* side by side, padded properly */
    padding: 10px;
    margin: 0px 10px;
    text-align: center;
    width: 130px;
}

#mainview ul li:hover {
    background: #FFB739;
    cursor: pointer;
    border-radius: 5px;
}

#mainview li span {
    display: block; /*text for the buttons */
    font-weight: bold;
}

#user-box {
    padding-top: 10px;
}

#user-box .close-button {
    opacity: 0.3;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
}

#user-box .close-button:hover {
    opacity: 1;
}

#channels > .channel .close-button {
    margin-left: 5px;
    opacity: 0.3;
    display: none;
}

#channels > .channel:hover .close-button {
    display: inline;
}

#channels > .channel .close-button:hover {
    opacity: 1;
}

#channels > .channel:not(.active):hover { /* highlight the non-active channels on hover */
    background: #FFB739;
    color: #444444;
    cursor: pointer;
}

#hint-box {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#chat-window    {
    min-height: 100%;
    width: 80%;
    position: absolute;
}

#chat-bar {
    border-right: 1px solid #666666;
}

#chat-bar, #user-bar{
    top: 0;
    height: 34px;
    background: #434950;
    color: #eee;
    overflow: hidden;
}

.titlebar{
    padding-top: 0.5em;
    font-size: 1.2em;
    padding-left: 0.5em;
}

.window-title {
    font-weight:bold;
    margin-right: 2%;
    white-space:nowrap;
}

.titlebar #topic{
    color: #CCCCCC;
    white-space: nowrap;
}

#chat-contents {
    top: 34px;
    bottom: 57px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #DBE8F9;
    border-right: 1px solid #FA6121
}

/* chat input box and button */


/* from http://stackoverflow.com/questions/3682649/how-to-stretch-the-width-of-an-element-so-that-its-100-widths-of-its-siblin */
#input-wrapper {
    height: 55px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #DDD;
    background: whiteSmoke;
    border-right: 1px solid #DDDDDD;
}

#input-wrapper #chat-button {
    float: right;
    margin-top: 15px;
}

#inputbox { 
    margin-top: 17px; /* to align with button */
    padding-right: 5px; /* little space beside button and input */
    overflow: hidden; 
}

#inputbox input { 
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

/* message formatting */

.message-box {
    border-bottom: 1px solid #DDDDDD;
    display: table;
    width: 100%;
}

/* it is myself who is sending the message */

.message-me {
    background: #EBF0FA;
}

/* someone changed the topic, someone changed nick, etc */

.message-notification {
    padding: 1% 0% 1% 1%;
}

/* name column */

.chat-name {
    display: table-cell;
    width: 14%;
    vertical-align: top;
    padding: 1% 0% 1% 1%;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* message column */

.chat-message {
    display: table-cell;
    width: 66%;
    padding: 1%;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: GeometrySoftProBoldN;
    font-size: 14px;
}

.chat-message span {
    word-wrap: break-word;
}

.chat-message.motd {
    white-space: pre;
    font-family: monospace;
}

.highlight {
    color: #0B2666;
    font-weight: bold;
}

.chat-action {
    display: table-cell;
    width: 80%;
    padding: 1% 0% 1% 2%;
    border-right: 1px solid #DDDDDD;
}

/* time column */

.chat-time {
    display: table-cell;
    vertical-align: top;
    color: #888888;
    text-align: center;
    padding: 1% 0% 1% 0%;
    width: 20%;
}

/* USER LIST STUFF */

#user-list-window {
    height: 100%;
    width: 20%;
    position: absolute;
    margin-left: 80%;
    background: #E7E9ED;
}

#user-list {
    position: absolute;
    top: 34px;
    bottom: 0;
    overflow-y: auto;
}

.user-in-list {
    padding-top: 3%;
    padding-right: 0%;
    padding-bottom: 3%;
    padding-left: 5%;
}

.user-in-list-name {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* userlist buttons 
    0% transparent on hover
    80% transparent off hover
*/

.user-in-list-buttons {
    float: right;
}

.user-in-list-buttons > button {
    opacity: 0.8;
}

.user-in-list-buttons > button:hover {
    opacity: 1;
}
