body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chatWindow {
	border-width: 3px; 
	border-style: solid;
	background-color: #FFFFFF;
}

.userList {
	border-width: 3px; 
	border-style: solid;
	background-color: #FF8C00;
}